.readmore-div {
    display: contents;
}

.readmore-div .readmore-container {
    width: 100%;
    position: relative;
}

.readmore-div .readmore-container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 160px;
    left: 0;
    top: 0;
    z-index: 2;
    margin-top: -50px;
    background: -moz-linear-gradient(180deg, rgba(248, 246, 244, 0.7917542016806722) 0%, rgba(248, 246, 244, 1) 34%, rgba(248, 246, 244, 1) 54%, rgba(248, 246, 244, 0) 75%);
    background: -webkit-linear-gradient(180deg, rgba(248, 246, 244, 0.7917542016806722) 0%, rgba(248, 246, 244, 1) 34%, rgba(248, 246, 244, 1) 54%, rgba(248, 246, 244, 0) 75%);
    background: linear-gradient(180deg, rgba(248, 246, 244, 0.7917542016806722) 0%, rgba(248, 246, 244, 1) 34%, rgba(248, 246, 244, 1) 54%, rgba(248, 246, 244, 0) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f6f4", endColorstr="#f8f6f4", GradientType=1);
}

.readmore-div .read-link {
    font-weight: normal;
    color: #000000;
    text-decoration: underline;
}